
@{
    ViewData["Title"] = "| تغییر رمز ورود";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">خانه</a>
                            <svg class="breadcrumb-arrow" width="6px" height="9px">
                                <use xlink:href="@Url.Content("~/lib/images/sprite.svg#arrow-rounded-right-6x9")"></use>
                            </svg>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">تغییر رمز</li>
                    </ol>
                </nav>
            </div>
            <div class="page-header__title">
                <h1>حساب کاربری</h1>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="row">
                <partial name="AccountDashboardPV" />
                <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                    <div class="card">
                        <div class="card-header">
                            <h5>تغییر رمز عبور</h5>
                        </div>
                        <div class="card-divider"></div>
                        <div class="card-body">
                            <div class="row no-gutters">
                                <div class="col-12 col-lg-7 col-xl-6">
                                    <div class="form-group">
                                        <label for="password-current">رمز عبور کنونی</label>
                                        <input type="password" class="form-control" id="password-current" placeholder="رمز عبور کنونی">
                                    </div>
                                    <div class="form-group">
                                        <label for="password-new">رمز عبور جدید</label>
                                        <input type="password" class="form-control" id="password-new" placeholder="رمز عبور جدید">
                                    </div>
                                    <div class="form-group">
                                        <label for="password-confirm">تکرار رمز عبور جدید</label>
                                        <input type="password" class="form-control" id="password-confirm" placeholder="تکرار رمز عبور جدید">
                                    </div>
                                    <div class="form-group mt-5 mb-0">
                                        <button class="btn btn-primary">تغییر</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
