<div class="col-12 col-lg-3 d-flex">
    <div class="account-nav flex-grow-1">
        <h4 class="account-nav__title">ناوبری</h4>
        <ul>
            <li class="account-nav__item account-nav__item--active"><a href="account-dashboard.html">داشبورد</a></li>
            <li class="account-nav__item"><a href="@Url.Action("Profile")">ویرایش پروفایل</a></li>
            <li class="account-nav__item"><a href="@Url.Action("Orders")">سابقه خرید</a></li>
            <li class="account-nav__item"><a href="account-addresses.html">آدرس ها</a></li>
            <li class="account-nav__item"><a href="@Url.Action("ChangePassword")">رمز عبور</a></li>
            <li class="account-nav__item"><a href="account-login.html">خروج</a></li>
        </ul>
    </div>
</div>