@model Store.Models.DataBase.Dto.User.User

<div style="direction:rtl;padding:50px;">
    <h2>سلام کاربر گرامی</h2>
    <p>
        جهت فعال ساز حساب کاربری، لطفا روی لینک فعال سازی زیر کلیک کنید.
        <br />
        با تشکر
    </p>
    <a href="/@Model.ActivationCode">فعال سازی حساب</a>
</div>
