<div class="block block-banner">
    <div class="container">
        <a href="" class="block-banner__body">
            <div class="block-banner__image block-banner__image--desktop" style="background-image: url('@Url.Content("~/lib/images/banners/banner-1.jpg")')"></div>
            <div class="block-banner__image block-banner__image--mobile" style="background-image: url('@Url.Content("~/lib/images/banners/banner-1-mobile.jpg")')"></div>
            <div class="block-banner__title">
                صدها
                <br class="block-banner__mobile-br">ابزار دستی
            </div>
            <div class="block-banner__text">چکش ها، مته ها، انبرها، چاقوها، آچارها و اره ها</div>
            <div class="block-banner__button"><span class="btn btn-sm btn-primary">هم اکنون بخرید</span></div>
        </a>
    </div>
</div>